div.chat {
    background-color: white;
    height: 800px;
    width: 1500px;
    border-radius: 10px;
}

div.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100% - 0.5em);
    justify-content: flex-end;
    border-bottom: solid;
    height: 10%;
    gap: 1em;
    padding: 0.5em;
    margin-right: 0;
}

h2, li, p, h3, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.servers, button.account, button.settings {
    border: none;
    display: flex;
    background-color: white;
    color: black;
    cursor: pointer;
    gap: 1em;
    width: fit-content;
    height: 100%;
    align-items: center;
}

button.servers:hover, button.account:hover, button.settings:hover {
    background-color: grey;
}

button.servers {
    margin-right: auto;
}

button.settings {
    margin-left: 0;
}

h2.serverTitle {
    font-size: 140%;
}

img.currentLogo, img.currentAccount, img.settingsLogo {
    height: 100%;
    display: block;
}


/* sidebar stuff! */


div.sidebar {
    display: flex;
    flex-direction: column;
    border-right: solid;
    width: 25%;

    /* calcuate the total space occupied by the chat's container minus the height of the topbar (10% height plus 1em total of padding plus a 3-pixel border) */
    height: calc(100% - (10% + 1em + 3px));

    gap: 1rem;
    float: left;
    background-color: grey;
    overflow: auto;
    border-bottom-left-radius: 10px;
}

ul.channels {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.channelList {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
}

h3.heading {
    margin: 1%;
    font-size: 120%;
}

ul.channels li {
    padding: 5%;
    border-radius: 5em;
}

ul.channels li:hover {
    background-color: wheat;
    cursor: pointer;
}

h2.onlineHeader {
    margin: 1%;
    font-size: 140%;
}

div.online ul {
    list-style-type: none;
}


/* beginning of main box stuff */


div.main {
    display: flex;
    flex-direction: column;

    /* calculate the space not occupied by the top and side bars */    
    width: calc(100% - (25% + 3px));
    height: calc(100% - (10% + 1em + 3px));
}

div#history {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 87%;
    width: 100%;
    border-bottom: solid;
    overflow: auto;
    background-color: red;
}

div.chatbar {
    height: 13%;
    width: 100%;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 100%; 
    box-sizing: border-box;
}

#input { 
    border: none;
    padding: 0 1rem;
    flex-grow: 0.95;
    border-radius: 2rem;
    margin: 0.25rem;
    font-size: 100%;
}
      
#input:focus { 
    outline: none; 
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem; 
    border-radius: 3px;
    outline: none;
    color: #fff;
}

p.sentMessage, p.senderMessage {
    padding: 0.5rem 1rem;
    max-width: 70%;
    color: black;
    width: fit-content;
    height: fit-content;
    word-break: break-all;
}

p.senderMessage {
    background-color: lightblue;
    text-align: right;
}

p.sentMessage {
    background-color: lightgray;
    text-align: left;
}